.more-options {
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    background-color: inherit;
    border-radius: 20px 20px 0 0;
    padding: 2rem;

    button{
        h2{
            font-size: 18px;
        }
    }
}

.options-container {
    animation: smooth-show-option 0.3s ease-in-out;
}

@keyframes smooth-show-option {
    0%{
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

.more-options-dark {
    background-color: #161d26;
    color: white;
    animation: smooth-show-option 0.3s ease-in-out;
}

.pin-note-btn svg {
    padding: 5px;
}

.options-panel {
    display: flex;
    justify-content: space-between;
}

.more-option-btn {
    font-size: 3rem;
}

.gallery-btn{
    font-size: 3rem;
}

.option-btn{
    fill: white;
    padding: 5px;
    font-size: 3rem;
    h2{
        font-size: 16px;
        padding: 5px;
        margin: 5px;
    }

    svg{
        height: 3rem;
        width: 3rem;
    }
}