.hint-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    transition: 0.2s ease-in-out;
}

.hint-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: smooth-laps 0.3s ease-in-out;
}

.hint-text>h1 {
    font-size: 3.5rem;
    margin-top: 1.2rem;
    white-space: nowrap;
}

.home-hint {
    cursor: pointer;
}

@keyframes smooth-laps {
    0%{
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}