.task-panel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-input-panel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    border-radius: 4px;
    padding: 1rem;
    position: fixed;
    width: calc(100% - 6rem);
    z-index: 120;

    input{
        font-size: 18px;
        width: calc(100% - 7rem);
    }
}

.task-input-panel::before {
    content: "";
    position: absolute;
    background-color: white;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 6px;
}

.checkbox,.task-add-btn {
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid;
    line-height: 0;
    height: 2.2rem;
    width: 2.2rem;
    font-size: 1.8rem;
}

.checkbox-black{
    border: 1px solid black;
}

.checkbox-white{
    border: 1px solid white;
}

.input-task::placeholder,
.input-task {
    color: black;
}

.task-add-btn {
    border: none;
    line-height: 0;
    height: 3rem;
    width: 3rem;
}

.task-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.list-box {
    display: flex;
    align-items: center;
    width: 100%;
    
}

.task-delete-btn{
    height: 3rem;
    width: 3rem;
}
.overlay2 {
    background-color: black;
    opacity: 0.6;
    z-index: 110;
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}