.header-section{
    background-color: inherit;
}

.header {
    padding: 3rem;
    position: fixed;
    top: 0;
    z-index: 11;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 12rem;
}

.trash-header {
    height: 16rem;
}

.theme-btn {
    border: none;
    background-color: grey;
    border-radius: 50px;
    font-size: 4rem;
    padding: 1px;
    height: 5rem;
    width: 9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sun-svg,.moon-svg {
    display: block;
    border-radius: 100%;
    line-height: 0;
    margin: 1px;
}

.sun-svg {
    animation: smooth-sun-btn 0.3s ease-in-out;
}

.moon-svg {
    transform: translateX(4.6rem);
    animation: smooth-moon-btn 0.3s ease-in-out;
}

.light {
    background-color: white;
    color: black;
    fill: white;
}

.dark {
    background-color: black;
    color: white;
    fill: black;
}


.empty-trash-btn{
    z-index: 12;
    position: fixed;
    font-size: 18px;
    right: 3rem;
    top: 12rem;
    padding: 1.2rem;
    border-radius: 6px;
    color: white;
    background-color: black;

    &::after {
        content: "";
        background-color: rgb(255, 255, 255,0.5);
        z-index: -12;
        position: absolute;
        border-radius: 6px;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}

.empty-trash-btn::hover {
    color: #3368fe;
}

@keyframes smooth-sun-btn {
    0%{
        opacity: 0;
        transform: translateX(4.6rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes smooth-moon-btn {
    0%{
        opacity: 0;
        transform: translateX(0);
    }
    100% {
        opacity: 1;
        transform: translateX(4.6rem);
    }
}